body{
    
    background-color:#dedf6a;
    font-family:Arial;
    
    
    
    
    
    
    
    
    
}

h1{
    color:orange;
    font-family:Helvetica;
    font-size:100%;
    padding: 40px;
    
    
    
    
    
}

h2{
    color:Blue;
    
    
    
    
    
    
    
}