body{
    font-family: Helvetica, Courier, Verdana ;
    font-size: 25px;
    text-align: center;
}

a{
color:green;    
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;

}

header{
    border-top: red 3px solid;
    background:rgb(0,0,145);
    color:white;
    border-bottom: red 3px solid;
}

header h1{
    float: left;
}

nav{
    float: right;
    margin-top:10px;
}

header li{
    display: inline;
}

header a{
    text-decoration: none;
    color:red;
}
#Showroom{
    background:url(Teams.jpg);
    min-height:320px;
    max-height:340px;
    border-bottom: red 3px solid;
}
ul {
  list-style: none;
}
footer{
font-size:15px;
background:rgb(0,0,145);
border-top: red 3px solid;
color:white;
}
header img{
    position:absolute;
    left: 50px;
}
header .highight{
    color:orange;
    font-weight: bold;
    
    
}




